#branding a{
	display: block;
    font-size: 2em;
    margin: 0;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

html{
	height: 100%
}

body{
	font: 15px/1.5 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;

	display: flex;
 	flex-direction: column;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.head-container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	padding-top: 40px;
	min-height: 70px;
	background-color: black;
	color: white;
}

header a{
	color: white;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding a{
	color: white;
	text-transform: lowercase;
}

header #branding h1{
	margin: 0;
}


header nav{
	float: right;
	margin-top: 14px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #C0C0C0;
}

/* Page */

.page-content{
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
	box-sizing:border-box;

	flex: 1 0 auto; 
  	padding: 5px 0;
} 
	
@keyframes fadeInAnimation { 
		0% { 
			opacity: 0; 
		} 
		100% { 
			opacity: 1; 
			} 
} 

.wrapper {
	margin-right: auto;
	margin-left:auto;
	padding-right: 30px;
	padding-left: 30px;
}

.wrapper:after{
	content:"";
	display: table;
	clear: both;
}

.post-link a:hover{
	color: #0080FF;
}

.post-list{
	margin-left: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.post-list ul{
	margin-bottom: 15px;
	margin:0;
	padding:0;
}

.post-list > li{
	margin-bottom: 45px;
    border: 1px solid #666;
    flex-basis: 27%;
    max-width: 27%;
    padding: 2%;
    margin: 1%;
}

li {
    display: list-item;
}

.post-list .post-link{
	color: black;
    font-size: 1.5em;
}

a {
	text-decoration: none;
}

.post-list .featured-image {
    display: block;
    margin: 0 auto 15px;
}

.post-list img {
    max-width: 100%;
    vertical-align: middle;
}

.post-list h2 {
    line-height: 1;
    margin-bottom: 0.2em;
}

h2 {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    display: block;
    font-size: 1.4em;
    padding-bottom: 8px;
}

.post-list h3 {
    line-height: 1.2;
    font-weight: normal;
    font-size: 0.8em;
    color: #424242;
}

h3 {
	margin-bottom: 15px;
	margin:0;
	padding:0;
	display: block;
}

.post-list .info {
    font-size: 0.65em;
}

.post-list h3 {
    line-height: 1.2;
    font-weight: normal;
    color: #424242;
    margin-bottom: 15px;
    margin: 0;
    padding-bottom: 10px;
}


/*Footer*/


.footer{
	flex-shrink: 0;
	padding:10px;
	text-align: center;
	color:#808080;
}

#icons .container {
	width: 80%;
	margin: auto;
	min-height: 30px;
	overflow: hidden;
	display: flex;
    justify-content: center;
}

#icons a{
	overflow: hidden;
}

#icons img{
	transition: transform 0.2s;
  	transform: scale(1);
  	padding: 7px;
  	padding-bottom: 0px;
	margin: 0 auto;
}

#icons img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}



