#branding a{
	display: block;
    font-size: 2em;
    margin: 0;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

body{
	font: 15px/1.5 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 14px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #C0C0C0;
}


/* Experience */

#experience{
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
	box-sizing:border-box;
} 
	
@keyframes fadeInAnimation { 
		0% { 
			opacity: 0; 
		} 
		100% { 
			opacity: 1; 
			} 
} 

#experience h1{
	text-align: center;
	font-size: 22px;
	padding-bottom: 10px;
}

#research_projects{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#research_projects .container {
	display: flex;
	justify-content: center;
}

.project {
	position:relative;
	width: 250px;
	height: 242px;
	margin: 5px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-decoration: none;
	color:#000000;
}

.big-container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

.big-container > div {
	flex:1;
}

.project-container a{
	text-decoration: none;
	color: #808080;
}

.project-container li{
	list-style-type: none;
	text-align: center;
	padding-top: 5px;
	font-size: 13px;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.image{
	width:100%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	opacity: 1;
	transition: transform .4s ease;
}

.fade_description{
	opacity: 0;
	transition: .4s ease;
	position: absolute;
	top: 0;
    left: 14px;
    right: 14px;
    bottom: 24px;
    text-align: center;
}

.project:hover .fade_description{
	opacity: 0.97;
	transition:0.2s ease;
	position: absolute;
	top: 0;
	background-color: white;
	height: 100%;
}


.location {
	padding-top: 15%;
	font-size: 0.95em;
	color:black;
}

.date {
	font-size: 0.85em;
	color:black;
}

.descript {
	font-size: 0.85em;
	color:#808080;
	padding-right:5%;
	padding-left:5%;
}

.image_modality{
	font-size: 0.85em;
	color:#808080
}

.softwares{
	font-size: 0.75em;
	color:#808080;
	padding-right:5%;
	padding-left:5%;
}

/*Other*/

#other .container a{
	text-decoration: none;
	color: black;
}

#other .container ul{
	list-style-type: none;
}





footer{
	padding:10px;
	margin-top:30px;
	color:#808080;
	text-align: center;
}

#icons .container {
	width: 80%;
	margin: auto;
	min-height: 30px;
	overflow: hidden;
	display: flex;
    justify-content: center;
}

#icons a{
	overflow: hidden;
}

#icons img{
	transition: transform 0.2s;
  	transform: scale(1);
  	padding: 7px;
  	padding-bottom: 0px;
	margin: 0 auto;
}

#icons img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}

