body{
	font: 15px/1.5 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 14px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #C0C0C0;
}


/* Experience */

#experience{
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
	box-sizing:border-box;
} 
	
@keyframes fadeInAnimation { 
		0% { 
			opacity: 0; 
		} 
		100% { 
			opacity: 1; 
			} 
} 


/* Boxes */
#boxes{
  margin-top:20px;
  margin-left:25px; /*made bottom row shift*/
}

#boxes ul{
	list-style: none;
}

#boxes h1{
	text-align: center;
	font-size: 22px;
}

#boxes .box{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#boxes .box img{
  width: 100%;
  display: block;
  height: auto;
}

#boxes a:link{
	text-decoration: none;
	text-decoration-color: #808080;
}

#boxes .overlay{
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

#boxes .text {
  color: white;
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#boxes .box:hover .overlay {
  opacity: 1;
}





footer{
	padding:10px;
	margin-top:30px;
	color:#808080;
	text-align: center;
}

#icons .container {
	width: 80%;
	margin: auto;
	min-height: 30px;
	overflow: hidden;
	display: flex;
    justify-content: center;
}

#icons a{
	overflow: hidden;
}

#icons img{
	transition: transform 0.2s;
  	transform: scale(1);
  	padding: 7px;
  	padding-bottom: 0px;
	margin: 0 auto;
}

#icons img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}

