#branding a{
	display: block;
    font-size: 2em;
    margin: 0;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

html{
	height: 100%
}

body{
	font: 15px/1.5 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;

	display: flex;
 	flex-direction: column;
 	height: 100vh;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: #808080;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 14px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #C0C0C0;
}


/* Introduction */

#introduction{
	padding-top:70px;
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 

	flex: 1 0 auto;
  	padding: 20px;
} 
	
@keyframes fadeInAnimation { 
		0% { 
			opacity: 0; 
		} 
		100% { 
			opacity: 1; 
			} 
} 

#introduction img{
	float:left;
	padding:25px;
}

#introduction h2{
	padding-top: 20px;
}

#introduction p{
	padding-left: 10px;
	padding-top: 10px;
}

#introduction a{
	text-decoration: none;
	color:#808080;
}

#introduction a:hover{
	color:#C0C0C0;
}

.footer{
	flex-shrink: 0;
	padding:10px;
	text-align: center;
	color:#808080;
}

#icons .container {
	width: 80%;
	margin: auto;
	min-height: 30px;
	overflow: hidden;
	display: flex;
    justify-content: center;
}

#icons a{
	overflow: hidden;
}

#icons img{
	transition: transform 0.2s;
  	transform: scale(1);
  	padding: 7px;
  	padding-bottom: 0px;
	margin: 0 auto;
}

#icons img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}



