#branding a{
	display: block;
    font-size: 2em;
    margin: 0;
    color: #000000;
    text-transform: capitalize;
    font-weight: bold;
}

html{
	height: 100%
}

body{
	font: 15px/1.5 'Work Sans', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;

	display: flex;
 	flex-direction: column;
}

/* Global */
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.head-container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header ul{
	margin: 0;
	padding: 0;
}

/* Header */
header{
	padding-top: 40px;
	min-height: 70px;
	background-color: black;
	color: white;
}

header a{
	color: white;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding a{
	color: white;
	text-transform: lowercase;
}

header #branding h1{
	margin: 0;
}


header nav{
	float: right;
	margin-top: 14px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #C0C0C0;
}

/* Page */

.page-content{
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
	box-sizing:border-box;

	flex: 1 0 auto; 
  	padding: 5px 0;
} 
	
@keyframes fadeInAnimation { 
		0% { 
			opacity: 0; 
		} 
		100% { 
			opacity: 1; 
			} 
} 

.wrapper {
	margin-right: auto;
	margin-left:auto;
	padding-right: 30px;
	padding-left: 30px;
}

.wrapper:after{
	content:"";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
}

.home{
	margin-left: 120px;
	margin-right: 120px;
}

.title h1{
	font-size: 1.75em;
}

.one-line-description p{
	font-size: 1.1em;
	font-color: #808080;
}

.box-container{
	margin-top: 40px;
}

div.scrollbox {
  width: 225px;
  height: 300px;
  overflow: scroll;
  float:left;
}

.box{
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
	background-color: lightblue;
}

.box p{
	padding: 5px;
	margin: 0px;
}

.date{
	margin: auto;
	overflow: hidden;
	float: left;
	font-size: 0.9em;
	padding-bottom: 0px;
}

.num{
	margin: auto;
	overflow: hidden;
	float: right;
	font-size: 1.3em;
	padding-right: 5px;
}

.descript{
	margin: 0;
	/*overflow: hidden;*/
	/*float: right;*/
	font-size: 0.75em;
	bottom: 0;
}

.graphic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  /*padding-top:30px;*/
}

.text a{
	color: #808080;
}

.text a:hover{
	color: #C0C0C0;
}


/*Footer*/


.footer{
	flex-shrink: 0;
	padding:10px;
	text-align: center;
	color:#808080;
}

#icons .container {
	width: 80%;
	margin: auto;
	min-height: 30px;
	overflow: hidden;
	display: flex;
    justify-content: center;
}

#icons a{
	overflow: hidden;
}

#icons img{
	transition: transform 0.2s;
  	transform: scale(1);
  	padding: 7px;
  	padding-bottom: 0px;
	margin: 0 auto;
}

#icons img:hover{
	opacity: 0.5;
	transform: scale(1.2);
}



